<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFRI_comotorage</title>
    <link rel="shortcut icon" href="Asset/ressources/Images/car.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'IFRI_comotorage/styles2.css' %}">
</head>
<body>
    <section class="Accueil">
        <section class="sec1">
            <h1>IFRI_comotorage</h1>
            <h2>Partageons nos trajets</h2>
            <h2>Connectons nos campus</h2>
        </section>
    
        <div>
            <img src="{% static 'IFRI_comotorage/images/car2.png' %}" alt="Blue hatchback car with two people sitting inside">
        </div>

        <section class="sec2">
            <div>
                <i class="fas fa-clone"></i>
                <p>How it works</p>
            </div>
            <div>
                <i class="fas fa-paper-plane"></i>
                <p>About</p>
            </div>
            <div id="cont">
                <i class="fas fa-comment"></i>
                <p>Contact</p>
            </div>
        </section>
    </section> 

    <span id="span">
        <i class="fas fa-angle-right"></i> 
    </span>

    <footer id="footer">
        <a href="{% url 'Accueil' %}"><i class="fas fa-home"></i>Accueil</a>
        <a href="{% url 'Rechercher' %}"><i class="fas fa-search"></i>Rechercher</a>
        <a href="{% url 'Publier' %}"><i class="fas fa-plus-circle"></i>Publier</a>
        <a href="{% url 'Messagerie' %}"><i class="fas fa-comment-alt"></i>Messagerie</a>
        <a href="{% url 'Profil' %}"><i class="fas fa-user"></i>Profil</a>
    </footer>

    <script src="{% static 'IFRI_comotorage/script4.js' %}"></script>

</body>
</html>