<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="shortcut icon" href="Asset/ressources/Images/logo_IFRI_comotorage.png" type="image/x-icon">
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'IFRI_comotorage/styles.css' %}">
    <style>
.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('{% static "IFRI_comotorage/images/back.png" %}');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(85%) blur(0.4px);
    z-index: 1;
    animation: move 4s linear infinite alternate;
}
</style>
</head>
<body>

    <header>
        <img src="{% static 'IFRI_comotorage/images/logo_IFRI_comotorage.png' %}" alt="image">
        <div>
            <a href="{% url 'Login' %}"><h2>Log In</h2></a>
        </div>
    </header>

    <section class="section">
        <div class="background-blur"></div>
        <section>
            <div>
                <img src="{% static 'IFRI_comotorage/images/car.png' %}" alt="Blue hatchback car with two people sitting inside">
                <p>Join now</p>
            </div>
            <div>
                <h1>Carpooling at your fingertips</h1> 
                <p>Welcome to IFRI_comotorage, your platform for sharing rides to campus easily and efficiently</p>
            </div>
        </section>
    </section>

    <section class="furt0">
        <section class="furt" id="furt1">
            <h2>HOW IT WORKS ?</h2>
            <p>L'application IFRI_comotorage vise à simplifier le partage de trajets quotidiens 
            entre le domicile et le campus de l'IFRI. Chaque utilisateur commence par créer un 
            profil détaillé, incluant son point de départ habituel et ses horaires. Les 
            conducteurs peuvent ensuite publier leurs offres de covoiturage en spécifiant le 
            point de départ et d'arrivée, l'heure et le nombre de places disponibles. De même, 
            les passagers peuvent publier leurs demandes avec des informations similaires. Un 
            algorithme intelligent met en relation conducteurs et passagers en se basant sur la 
            proximité géographique et la compatibilité horaire, proposant ainsi les combinaisons 
            les plus pertinentes. Une messagerie instantanée est intégrée pour permettre aux utilisateurs
            d'affiner les détails de leurs rendez-vous et de communiquer en temps réel. L'historique des
             conversations est également conservé pour référence future.</p>
        </section>

        <section class="furt" id="furt2">
            <h2>ABOUT ?</h2>
            <p>IFRI_comotorage est une application web conçue dans le cadre d'un projet intégrateur de
                 l'Institut de Formation et de Recherche en Informatique (IFRI) de l'Université d'Abomey-Calavi. 
                L'objectif principal est de permettre aux étudiants de l'IFRI de partager leurs trajets quotidiens
                 entre leur domicile et le campus, favorisant ainsi la collaboration et l'optimisation des déplacements.
                 Développée par des groupes d'étudiants en IA, IM, GL, SE&IoT et SI , l'application met en œuvre les compétences 
                 acquises en développement web, bases de données, algorithmique et programmation Python. Elle dispose de modules 
                 clés tels que la gestion des comptes et profils utilisateur, la mise en correspondance des conducteurs et passagers, 
                 et une messagerie instantanée. Un accent particulier est mis sur une interface utilisateur intuitive, claire et moderne,
                  avec une priorité pour les écrans mobiles.</p>
        </section>

        <section class="furt" id="furt3">
            <h2>CONTACT</h2>
            <p>Pour toute question ou information concernant le projet IFRI_comotorage, vous pouvez vous adresser à l'équipe pédagogique
               en charge de la supervision et de l'encadrement du projet:</p>
            <ul>
                <li>Supervision: M. Ratheil HOUNDJI </li>
                <li>Encadrants: M. Armand ACCROMBESSI et Mme Maryse GAHOU</li>
            </ul>
        </section>
    </section>    

    <section class="dots">
        <span class="dot active" onclick="showSlide(0)"></span>
        <span class="dot" onclick="showSlide(1)"></span>
        <span class="dot" onclick="showSlide(2)"></span>
    </section>
        
    <section class="prefooter">
        <h3>How It Works</h3>
        <h3>About</h3>
        <h3>Contact</h3>
    </section>

    <footer>
        <p class="copyright">&copy; 2025 - IFRI_comotorage</p>
        <a href="#" class="cgv">Conditions générales d'utilisation</a>
    </footer>

    <script src="{% static 'IFRI_comotorage/script1.js' %}"></script>
</body>
</html>