<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{% static 'IFRI_comotorage/styles1.css' %}">
</head>
<body>
    
    <i class="fas fa-arrow-left"></i>
    <h1>Inscription</h1>
    
    <form action="#" method="post">
        <label>Nom
            <input type="text" name="nom" required>
        </label>
        
        <label>Prénom
            <input type="text" name="Prenom" required>
        </label>
        
        <label>Email
            <input type="email" name="email" placeholder="xxxxx@gmail.com" required>
        </label>
        
        <label>Téléphone
            <input type="tel" name="Phone" placeholder="XX-XX-XX-XX-XX" required>
        </label>
        
        <label>Mot de passe
            <input type="password" name="Password" required>
        </label>
        
        <button type="submit">Créer mon compte</button>
     </form>

</body>
</html>