<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFRI_comotorage</title>
    <link rel="shortcut icon" href="Asset/ressources/Images/car.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="Asset/styles2.css">
</head>
<body>

    <section class="Rechercher">
        <section class="sec11">
            <i class="fas fa-arrow-left"></i>
            <h1>Rechercher</h1>
            <i class="fas fa-ellipsis-v"></i>
        </section>

        <section class="sec21"></section>

        <section class="sec31">
            <h3>Localisation</h3>
            <div>
                <input type="search" name="Recherche">
                <i class="fas fa-search"></i>
            </div>
        </section>

        <section class="sec41"></section>
        
    </section>

    <footer>
        <a href="Accueil.html"><i class="fas fa-home"></i>Accueil</a>
        <a href="Rechercher.html"><i class="fas fa-search"></i>Rechercher</a>
        <a href="Publier.html"><i class="fas fa-plus-circle"></i>Publier</a>
        <a href="Messagerie.html"><i class="fas fa-comment-alt"></i>Messagerie</a>
        <a href="Profil.html"><i class="fas fa-user"></i>Profil</a>
    </footer>
    
</body>
</html> 