{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}IFRL Covoiturage{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mon_app/style.css' %}">
</head>
<body>
    <header>
        <h1>🚗 IFRI Comotorage</h1>
        <nav>
            <a href="{% url 'home' %}">Accueil</a>
            <a href="{% url 'profil' %}">Mon profil</a>
            <a href="{% url 'conversations_box' %}">Messages</a>
            <a href="{% url 'creer_offre' %}">Publier</a>
            <a href="{% url 'logout' %}">Déconnexion</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2025 IFRI Covoiturage</p>
    </footer>
</body>
</html>
