
{% extends 'mon_app/base.html' %}

{% block title %}Mon profil{% endblock %}

{% block content %}
<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mon_app/style.css' %}">
</head>
<h2 class="mon_profil">Mon profil</h2>

<div class="profil-card">
    {% if user.photo %}
        <img src="{{ user.photo.url }}" alt="Photo de profil" class="profil-photo">
    {% endif %}
    <p><strong>{{ user.first_name }} {{ user.last_name }}</strong> ({{ user.role|capfirst }})</p>
    <p>Email : {{ user.email }}</p>
    <p>Téléphone : {{ user.phone_number }}</p>
    <p>Adresse : {{ user.address }}</p>
    <p>Départ : {{ user.departure_time }}</p>
    <p>Retour : {{ user.return_time }}</p>
    <p>Places dispo : {{ user.available_seats }}</p>

    <a href="{% url 'modifier_profil' %}" class="btn">Modifier mon profil</a>
</div>
{% endblock %}
